---
layout: default
---
<div class="post main_post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
  </header>


  <div class="tags_div">
  {% if page.tags.size > 0 %}
	{% for tag in page.tags %}
	  <span class="tags_span">{{tag}}</span>
	{% endfor %}
  {% endif %}
  <span class="post-meta">{{ page.date | date: "%Y-%m-%d" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</span>
 </div>


  <article class="post-content">
    {{ content }}
  </article>

</div>
<!--
<div>
<HR style="FILTER: alpha(opacity=100,finishopacity=0,style=3)" width="100%" color=#987cb9 SIZE=3>
<div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
var disqus_shortname = 'leon-blog';

/* * * DON'T EDIT BELOW THIS LINE * * */
(function() {
var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
})();
</script>
</div>
-->

